.config/
.devcontainer/
.github/
.vscode/
coverage/
bin/
*.log
obj/
Test/
.csharpierignore
.dockerignore
.env
.env.example
.gitattributes
.gitignore
docker-compose.yml
Dockerfile
LICENSE
Makefile
README.md
