# Database

DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_CONNECTION_POOL_SIZE=10

# Event Bus

EVENT_BUS_HOST=
EVENT_BUS_PORT=
EVENT_BUS_USER=
EVENT_BUS_PASSWORD=
EVENT_BUS_RECONNECT_LIMIT=5
EVENT_BUS_MESSAGE_DELIVERY_MODE=2
EVENT_BUS_RECONNECTION_TIME_IN_MILLISECONDS=80
EVENT_BUS_MESSAGE_DELIVERY_LIMIT=5
EVENT_BUS_MESSAGE_REDELIVERY_DELAY_IN_MILLISECONDS=3000

# Logger

LOG_FILE_PATH=
LOG_FILE_NAME=
LOGGER_LEVEL=DEBUG